{% extends "goods/base.html" %}
{% block title %}
<title>Корзина</title>
{% endblock %}
{% block content %}
    <h1>Корзина</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Удалить</th>
            <th>Цена за шт.</th>
            <th>Стоимость</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url 'cart:cart_remove' product.id%}">удалить</a></td>
                    <td class="num">{{ item.price }} руб.</td>
                    <td class="num">{{ item.total_price }} руб.</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Итог</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} руб.</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'goods:product_list' %}" class="button light">Вернуться в магазин</a>
        <a href="#" class="button">Оформить заказ</a>
    </p>
{% endblock %}